<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="/styles/regist.css")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy",crossorigin="anonymous")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")   

        title register

    include includes/navigationBar.pug
    body
        h1 Register
        div.jumbo
            div.form-group.wrapJumbo
                form(method='POST' action='/register')
                    div.form-group
                      label(for='name') User Name:
                      input#name.form-control(type='text', placeholder='user name' name='userId')
                    //- div.form-group
                    //-   label(for='email') Email:
                    //-   input#email.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                      label(for='name') Name:
                      input#name.form-control(type='text', placeholder='first and last' name='name')
                    div.form-group
                      label(for='passcode') password:
                      input#password.form-control(type='password', placeholder='password' name='passcode')
                    button.btn.btn-primary(type='submit') Sign up
