body{
    margin : 0;
    background-color: rgba(22, 19, 19, 0.9) !important; 
    color: white !important;

}

h1{
    text-align: center;
}

/* styles for the navigation bar */
/* .navigate{

    display: inline-block;
    padding : 30px;
    background-color: #37474F;
    text-align: center;
    width: 127vh;

}
.navigate a{
    text-align: center;
    padding : 30px;
    margin : 100px;
    color: white;
}

.navigate a:hover{
    background-color: black;
    color: white;
    text-decoration: none;
} */
.navigate{

    display: inline-block;
    padding : 30px;
    background-color: #37474F;
    text-align: center;
    width: 100%;

}
.navigate a{
    text-align: center;
    padding : 30px;
    margin : 100px;
    color: white;
    text-decoration: none;
}

.navigate a:hover{
    background-color: #607D8B;
    color: white;
    text-decoration: none;
    border-radius: 5%;
}
.jumbo{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    justify-items: center;
    margin : 30px;
    color:white;
    height:60vh;
}


.jumbo .wrapJumbo{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40vh;
    align-items: center;

}

form div{
    width: 50vh;
}
